@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

main {
    display: flex;
    width: 1000px;
    height: 600px;
    background-color: #0A3161;
    border-radius: 16px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    height: 600px;
    border-radius: 10px;
    padding: 20px;
    margin-top: -20px;
}

h2 {
    text-align: center;
    color: #FFFFFF;
    font-size: 26px;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
}

.formContent {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    gap: 5px;
}

label {
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 5px;
    color: #FFFFFF;
}

input {
    width: 340px;
    height: 40px;
    border-radius: 12px;
    border: none;
    padding-left: 10px;
    font-size: 20px;
    color: #0A3161;
}

.formCta {
    display: flex;
    align-items: center;
    margin-top: 29px;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-right: 55px;
    margin-left: 60px;
}

.btnLogin {
    width: 160px;
    height: 45px;
    border-radius: 22px;
    cursor: pointer;
    background-color: #F9FAFB;
    border: none;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    color: #0A3161;
}

.aCadastro {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 12px;
}

.btnLogin:hover {
    color: #FFFFFF;
    background-color: #0c6b94;
    transition: background-color 0.4s ease;
}

.aCadastro:hover {
    color: #dfdfdf;
    transition: color 0.4s ease;
}
