.container {
    display: flex;
    width: 1000px;
    height: 600px;
    background-color: #0a3161;
    border-radius: 16px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    height: 600px;
    padding: 20px;
  }
  
  h2 {
    text-align: center;
    color: white;
    font-size: 26px;
  }
  
  .formContent {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    gap: 5px;
  }
  
  input {
    width: 340px;
    height: 40px;
    border-radius: 12px;
    padding-left: 10px;
    color: #0a3161;
  }
  
  .formOptions {
    display: flex;
    justify-content: space-between;
    margin-left: 60px;
  }
  
  .formCTA {
    margin-top: 29px;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  
  .btnLogin {
    background-color: #f9fafb;
    border-radius: 22px;
    cursor: pointer;
    padding: 10px;
  }
  
  .aCadastro {
    color: white;
    font-size: 12px;
  }
  